service: sls-migrate-plugin-example

provider:
  name: aws
  runtime: nodejs10.x
  environment:
    DATABASE_NAME: content
    ANOTHER_ENV: original content
    BOOLEAN_ENV: true
custom:
  migrate:
    stateFile: .migrate
    store: ./sample-store
    lastRunIndicator: <
    noDescriptionText: '?'
    ignoreMissing: true
    dateFormat: "yyyy-MM-dd hh:mm:ssZ"
    templateFile: "my-project-template.js"
    migrationDir: "migrations"
    environment:
      ANOTHER_ENV: overrriden value
      COMPLEX_VAR: ${opt:pwd, self:provider.env.ANOTHER_ENV, 'unexistent'}
      BOOLEAN_ENV: false
#   fileExtension: .ss  # Uncomment to check it will not work

functions:
  hello:
    handler: handler.hello

plugins:
  - serverless-migrate-plugin
